<h1>Enter player names</h1>
<form action="/names" method="post">
  Player 1: <input type="text" name="Player_1">
  Player 2: <input type="text" name="Player_2">
            <input type="submit" value= "Start Game">
</form>
